* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  Navbar  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1174e5b7;
    color: #fff;
    padding: 10px 20px;
    flex-wrap: wrap;
}
header .site {
    width: 25px;
    height: 25px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    /* gap: 8px; */
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
    padding: 0.4rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
header nav ul li:hover {
    transform: scale(1.04);
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    padding: 10px;
}


/*  HERO SECTION  */
#hero {
    display: grid;
    text-align: center;
    padding: 50px 5%;
    background-color: #83c7f855;
}

#hero img {
    width: 100px;
}

#hero .categories {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.hero-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25%;
    /* background-color: aqua; */
}

.caption1 {
    font-size: 19px;
    padding-top: 15px;
    color: palevioletred;
}
.caption2 {
    font-size: 30px;
    margin-top: -9px;
    color: palevioletred;
}


/*  SEARCH BAR  */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.search-bar {
    padding: 8px 12px;
    width: 300px;
    max-width: 100%;
}

.search-btn {
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.38);
}

.search-container span {
    font-size: 23px;
}


/*  ALL CATEGORIES SECTION  */
.Cpics {
    display: flex; 
    gap: 15px; 
    scroll-behavior: smooth;
    overflow-x: auto;
    /* background-color: aqua; */
    padding: 0.7rem;
}

.Cpics img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 80px;
    transition: transform 0.3s;
    border: 2px solid white;
}
.Cpics img:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.321);
}


/*  PRODUCTS  */
.products {
    display: grid;
    gap: 10px;
}

.product-section {
    text-align: center;
    display: grid;
    /* background-color: aquamarine; */
}

.product-section .sale1 {
    width: 400px;
    height: 300px;
    float: left;
}
.product-section .sale2 {
    width: 500px;
    height: 300px;
    float: left;
}
.product-section .sale3 {
    width: 500px;
    height: 790px;
    float: right; 
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.product-card {
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.42);
}

.product-card img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    font-size: 1rem;
}

.product-card p {
    font-size: 16px;
    color: #333;
}

.product-card button {
    background-color: #db3232ab;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product-card button:hover {
    background-color: #555;
}


/*  FOOTER  */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        width: 50%;
    }

    .hero-content {
        flex-direction: column;
        gap: 5%;
    }

    .hero img {
        width: 160px;
    }

    .product-section {
        display: grid;
        justify-content: center;
    }

    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    
}
